@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 2em;
}

.Calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 6em;
}

.Display {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  
}

.current-output {
  font-weight: bolder;
  font-size: 6em;
}
.previous-output {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2.5em;
}

.Keypad {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.7em;
}

button {
  background-color: rgba(255, 255, 255, 0.0);
  border: transparent;
  border-radius: .2em;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.left-panel,
.main-panel,
.right-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.left-panel>button,
.right-panel>button,
.main-panel>button  {
  flex: 1 1 45%;
  height: 80px;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.4);
}

.left-panel>button {
  height: 60px;
  font-size: 2em;
}

.main-panel>button {
  flex: 1 1 30%;
  font-size: 3em;
  color: rgba(255, 255, 255, 1);
}

.right-panel>button:last-of-type{
  background-color: rgb(255, 88, 97);
}